main {
  height: 100vh;
  width: 100%;
  background-image: url(/img/background\ img.png);
}

header {
  display: flex;
  justify-content: space-between;

  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 16px;
}

.logo{
  width: 210px;
  height: 21px;
}

.divForm {
  display: flex;
  flex-direction: column;
  padding: 42px;
  background-color: white;
  width: 506px;
  position: fixed;
  top: 100px;
  left: 30%;
justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 422px;
  max-width: 100%;
  gap: 13px;
}



.spanErro{
  color: red;
}

.hidden{
  display: none;
}

.btnCadastro {
  background: #4200ff;
  color: #ffffff;
  padding: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}


.btnHome {
  border: #4200ff solid 1px;
  padding: 5px;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;

  color: #4200ff;
}


.inputUser{
  width: 422px;
height: 52px;
}


.btnLogin{
  width: 422px;
  height: 52px;
  background: #4200FF;
  color: white;
  font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;


}

.btnCadastro2{

  width: 422px;
  height: 52px;
  background: rgba(255, 255, 255, 0.95);
  font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;

color: #4200FF;
border: 1px solid #4200FF


}

.login{

  font-weight: 700;
font-size: 40px;
line-height: 60px;
color: #000000;
}

.ou{
  margin: 10px 0;
  text-align: center;
}


.toast{

  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  color: #4200ff;
  animation: toastIt 2000ms ease-in forwards;
  background-color:  white;
  padding: 10px;

  
  }
  
  @keyframes toastIt {
  
  0% {left: 30px; bottom:-100px}
  25% {left: 30px; bottom:50px}
  50% {left: 30px; bottom:50px}
  100% {left: 30px; bottom:-100px}
  
  
  }
  
